<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Orders - Inventory Management System</title>
    <link rel="stylesheet" href="/static/stylesheet/orders.css">
</head>
<body>
    <header>
        <h1>orders</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/admin">Dashboard</a></li>
            <li><a href="/admin/products">Products</a></li>
            <li><a href="/admin/orders">Orders</a></li>
            <li><a href="/admin/customers">Customers</a></li>
        </ul>
    </nav>
    <section class="content">
        <table>
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Customer Name</th>
                    <th>product</th>
                    <th>Order Date</th>
                    <th>Total Amount</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>MAZ1278</td>
                    <td>Karthi</td>
                    <td>steel</td>
                    <td>2024-03-19</td>
                    <td>$99000.00</td>
                    <td>Shipped</td>
                </tr>

                <tr>
                    <td>MAZ1276</td>
                    <td>Mani</td>
                    <td>machines</td>
                    <td>2024-03-19</td>
                    <td>$15900.00</td>
                    <td>Shipped</td>
                </tr>
            </tbody>
        </table>
    </section>
    <footer>
        <p>&copy; JR Inventory Management System</p>
    </footer>
</body>
</html>
